.about {
  @include pageGrid;
  //!додати загальний grid у mixins, а потім перенести його сюди//


    &__title {
      line-height: 140%;
      margin: 0;

      grid-column: 1 / -1;
      @include onTablet {
        grid-column: 1 / 4;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }

   &__text {
    grid-column: 1/-1;
    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }
}


