.about {
  margin: 0;

  @include onDesktop {
    margin-bottom: 144px;
  }
  &__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 92px;

    @include pageGrid;

    }
    &__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -1.5px;
      grid-column: 1 / -1;
      margin: 0;

      @include onTablet {
        font-size: 48px;
        grid-column: 1 / 4;
      }
      @include onDesktop {

        font-size: 64px;
        grid-column: span 4;
      }
    }
   &__text {
    font-weight: 500;
    font-size: 23px;
    margin: 0;
    line-height: 140%;
    grid-column: 1/-1;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 6 / 12;
    }
  }
}
