@use '../utilities/mixins.scss' as *;
@use '../utilities/variables.scss' as *;

.about {
  margin: 0;

  @include on-desktop {
    margin-bottom: 144px;
  }
  &__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 92px;

    @include page-grid;
  }
  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    grid-column: 1 / -1;
    margin: 0;

    @include on-tablet {
      font-size: 48px;
      grid-column: 1 / 4;
    }

    @include on-desktop {
      font-size: 64px;
      grid-column: span 4;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 23px;
    margin: 0;
    line-height: 140%;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / 12;
    }
  }
}
