.contacts {


  @include pageGrid;




  &__form {
    display: grid;
    //justify-content: center;
    //align-items: center;
    //grid-column: 1/-1;
    row-gap: 16px;

    @include onTablet {
      grid-column: span 1/ 5;
    }





    &--name {
      display: flex;
      justify-content: space-between;
      align-items: start ;
      width: 280px;
      height: 48px;
      border-radius: 16px;

      @include onTablet {
        width: 392px;
      }
      @include onDesktop {
        width: 411px;
      }

    }

    &--email{
      display: flex;
      justify-content: space-between;
      align-items: start ;
      width: 280px;
      height: 48px;
      border-radius: 16px;

      @include onTablet {
        width: 392px;
      }
      @include onDesktop {
        width: 411px;
      }

    }

    &--message{

      display: flex;
      justify-content: space-between;
      align-items: start ;
      height: 148px;
      width: 280px;
      border-radius: 16px;

      @include onTablet {
        width: 392px;
      }
      @include onDesktop {
        width: 411px;
      }


    }

  }

  &__button{
  flex-shrink: 0;
  display: flex;
  width: 280px;
  height: 56px;
  background-color: #FFFFFF;
  border-radius: 40px;
  font-weight: 700;
  line-height: 27px;
  font-size: 16px;
  text-decoration: none;
  align-items: center;
  color: #1D1D1D;
  text-align: center;
  place-content: center;
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 48px;


  @include onTablet {
    width: 392px;
  }
  @include onDesktop {
    width: 411px;
  }

  }


  &__info {
    &--title {

    }

    &--text {

  }
  }


}
