@use '../utilities/mixins.scss' as *;
@use '../utilities/variables.scss' as *;

.footer {
  position: sticky;

  &__image {
    display: block;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
  }
}
