.icon {
  width: 24px;
  height: 24px;
  background-image: url(/src/images/icons/Icon-Burger-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &--phone {
    background-image: url(/src/images/icons/phone_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

       


  }

  &--menu {
    background-image: url(/src/images/icons/Icon-Burger-menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover {
      background-image: url(/src/images/icons/Icon-Burger-menu-hover.png);
    }

  }
  &--close {
    background-image: url(/src/images/icons/closing_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
