.icon {
  width: 24px;
  height: 24px;
  background-image: url(/src/images/icons/Icon-Burger-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &--phone {
    background-image: url(/src/images/icons/phone_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    position: relative;
      @include onDesktop {
        &:hover::before {
          content: url(/src/images/icons/phone__number.png);
          position: absolute;
          opacity: 1;
          right: 40px;
        }
      }
  }

  &--menu {
    background-image: url(/src/images/icons/Icon-Burger-menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &:hover {
      background-image: url(/src/images/icons/Icon-Burger-menu-hover.png);
    }

  }
  &--close {
    background-image: url(/src/images/icons/closing_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
