@use '../utilities/mixins.scss' as *;
@use '../utilities/variables.scss' as *;

.main {
  display: flex;
  justify-content: center;
  background-color: $main-color;

  @include content-padding-inline;

  &__content {
    padding-block: 92px;
    max-width: 1020px;
    margin-block: auto;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }

    @include on-desktop {
      padding-block: 144px;
      row-gap: 144px;
    }
  }
}
