.main {
  background-color: #1D1D1D;

  @include contentPaddingInline;

  &__content {
    padding-block: 92px;

    @include onTablet {
      padding-block: 120px;
      row-gap: 120px;

    }

    @include onDesktop {
      padding-block: 144px;
      row-gap: 144px;
    }
  }
}
