.main {
  display: flex;
  justify-content: center;
  background-color: $main-color;

  @include contentPaddingInline;

  &__content {

    max-width: 1020px;
    margin-block: auto;
  }

  &__content {
    padding-block: 92px;

    @include onTablet {
      padding-block: 120px;
      row-gap: 120px;

    }

    @include onDesktop {
      padding-block: 144px;
      row-gap: 144px;
    }
  }
}
