.nav {
  margin-left: 20px;

  @include onTablet {
    margin-left: 72px;
  }

  @include onDesktop {
    margin-left: 120px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;

    &:hover {
    width: fit-content;
    border-bottom: 1px solid $main-border-color;
    transition: all;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    gap: 32px;
  }

  &__bottom {
    display: inline-block;
    margin-left: 20px;

    @include onTablet {
      margin-left: 72px;
    }

    @include onDesktop {
      margin-left: 120px;
    }
  }
}
