.products {

  &__container {


    @include pageGrid;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
    //grid-column: 1/-1;

    @include onDesktop {
    row-gap: 56px;
    //grid-column: 24px;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 24px;

    width: 280px;
    height: 418px;
    position: relative;

   grid-column: 1/-1;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: span 4;
      }
    }

  .product__image {
      //display: block;
      width: 100%;
    }

    //чи треба стилізувати те що нижче ?
  .product__title {
      display: inline-block;
      margin: 0;
      margin-bottom: 8px;
      //width: 324px;
      //height: 34px;



    }

  .product__description {
    margin: 0;
    display: inline-block;
    //width: 392px;
    //height: 44px;



    }

  .product__price {
      margin: 0;
      display: flex;
      justify-self: start;
      align-items: center;
      width: 392px;
      height: 34px;



    }



}



