@use '../utilities/mixins.scss' as *;
@use '../utilities/variables.scss' as *;

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  font-style: normal;
  letter-spacing: -1.5;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 64px;
  }

  &--title--align--left {
    margin: 0;
    margin-bottom: 0;
    text-align-last: left;
  }
}
