.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  font-style: normal;
  letter-spacing: -1.5;
  text-align: center;

  @include onTablet {
    font-size: 40px;
    margin-bottom: 64px;
  }

  @include onDesktop {
    font-size: 48px;
  }

  //додати розмір шрифту для різних пристроїв через include//

  &--title--align--left {
    text-align-last: left;
  }

}
