@use '../utilities/mixins.scss' as *;
@use '../utilities/variables.scss' as *;

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  margin-bottom: 24px;

  @include on-tablet {
    padding: 36px 72px;
  }

  @include on-desktop {
    padding: 36px 120px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    justify-content: space-between;

    @include on-tablet {
      gap: 32px;
    }

    @include on-desktop {
      gap: 32px;
    }
  }

  &__logo {
    margin-left: 0;
  }
}
