.top-bar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;



  @media onTablet {
    padding: 73px 36px;
  }

  @media onDesktop {
    padding: 120px 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    justify-content: space-between;

  }

  &__logo {
    //display: block;
    justify-content: space-between;
  }
}

